.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.subTitle {
  font-size: 14px;
  color: var(--softText);
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.cat {
  background-color: brown;
  padding: 2px 5px;
  border-radius: 5px;
  color: var(--text);
  width: max-content;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: bold;
}
.imgContent {
  display: flex;
  gap: 20px;
  align-items: center;
}
.img {
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mainTitle {
  font-size: 14px;
  font-weight: bold;
}

.user {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.name {
  font-size: 12px;
  font-weight: bold;
}

.date {
  font-size: 12px;
  color: var(--softText);
}

.cat.style {
  background-color: #57c4ff31;
}

.cat.fashion {
  background-color: #da85c731;
}

.cat.food {
  background-color: #7fb88133;
}

.cat.travel {
  background-color: #ff795736;
}

.cat.culture {
  background-color: #ffb04f45;
}

.cat.coding {
  background-color: #5e4fff31;
}
